.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-card-actions__button{
  display: block;
  align-items: center;
  padding-left: 8px;
}
.mat-card-actions__text{
 padding-top: 0.600rem;
}
.example-card{
  margin-top: 3rem;
  background-color: #ffffff;
  color: black;
  margin-right: 0.625rem;

  &__title{
    margin-top: 0.625rem;
    padding-left: 16px;
  }
  &:last-child{
    margin-right: 0;
  }
}

.image{
  max-width: 300px;
}
.button{
  margin-right: 5px;
}
