.container{
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.example-card{
  background-color: #ffffff;
  color: black;

  &__title{
    margin-top: 0.625rem;
    margin-left: 0.625rem;
  }
}

.image{
  max-width: 300px;
}
.button{
  margin-right: 5px;
}
