<div class="container">
  <mat-card class="example-card">
      <mat-card-title class="example-card__title">Apple Watch Ultra 2</mat-card-title>
      <img mat-card-image class="image" src="assets/image/watch.jpg" alt="watch">
    <mat-card-content>
      <p>Price: 799$</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
