<div class="container">
  <mat-card class="example-card">
      <mat-card-title>Apple Watch Ultra</mat-card-title>
      <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Apple Watch Ultra</mat-card-title>
    <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Apple Watch Ultra</mat-card-title>
    <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Apple Watch Ultra</mat-card-title>
    <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Apple Watch Ultra</mat-card-title>
    <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>Apple Watch Ultra</mat-card-title>
    <img mat-card-image class="image" src="assets/image/watch.jpg" alt="killua">
    <mat-card-content>
      <p>Price: 400$</p>
      <p>Series: Ultra</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">LIKE</button>
      <button class="button" mat-flat-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
