.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.toolbar {
width: 400px;
  height: 300px;
  display: flex;
  align-items: center;

  &__button {

  }

  &__button:first-child {
    margin-left: 0;
  }
}
